@import '~bootstrap/scss/bootstrap';


header{
    height: 70px;
}

aside{
    height: 100%;
    min-width: 270px;
    ul{
        padding-right: 20px;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: white;
                &:hover{
                    color: brown;
                }
            }
        }
    }
}

.main-wrapper{
    height: calc(100vh - 70px);
    background-color: lightgray;
}

.ck-editor__editable_inline {
    min-height: 250px;
}
.nv_image{
    border: 1px solid black;
    min-width: 200px;
    min-height: 200px;
}
.active{
    color: brown;
}
.nv_a_special{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.nv_trash:hover{
    background-color: white;
    & i {
        color: red;
    }
}
.nv_save_info:hover{
    background-color: white;
    & i {
        color: #0D6EFD;
    }
}
.nv_edit:hover{
    background-color: white;
    & i {
        color: #FFC107;
    }
}
.nv_search_type{
    border: 1px solid grey;
    border-radius: 10px;
    overflow: hidden;
}
.nv_edit_bar{
    border: 0;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2px 10px;
}
.add_border{
    border: 0;
    border-left: 1px solid grey;
}
.works_searchbar{
    border: 2px solid white;
    border-radius: 15px;
    overflow: hidden;
    padding: 0 10px;
    background-color: white;
    input, button{
        border: none;
    }
    &:hover button{
        color: brown;
    }
}
